#selector {
    border: 1px solid #ccc;
    padding: 10px;
    width: 560px;
}

#selector input.search {
    float: none; /* this is to resolve a conflict in the standard fatsoma stylesheets */
    border: 1px solid #ccc;
    color: #444444;
    font: 14px Arial;
    padding: 8px;
    width: 560px;
}

#selector .autocomplete {
    background-color: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    list-style: none;
    font: 12px Arial;
    color: #444444;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 560px;
    z-index: 100
}

#selector .autocomplete_box {
    margin-top: -3px;
}

#selector ul.autocomplete li {
    padding: 10px;
    line-height: 50px;
    border-bottom: 2px solid #fff;
}

#selector ul.autocomplete li img.avatar {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#selector ul.autocomplete li img.type {
    float: right;
    margin-top: 18px;
}

#selector li:focus {
    background-color: #eee;
    outline: none
}

#selector div.selected {
    font: 12px Arial;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px
    max-height: 230px;
    overflow-y: auto;
}

#selector div.selected_user {
    position: relative;
    background-color: #f2f2f2;
    width: 160px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    float: left;
}

#selector div.selected_user img.avatar {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

#selector div.selected_user input.remove_button {
    float: right;
}

#selector div.selected_user button {
    position: absolute;
    top: 5px;
    right: 6px
}

#selector div.selected_user div.selected_name {
    float: left;
    width: 110px;
    height: 24px;
    color: #555;
}

#selector .highlight {
    text-decoration: underline
}

#selector div input.selected_create {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: normal;
    padding: 0 15px;	
    color: #fff;
    background: #4DACF4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #58A3C4), color-stop(100%, #5B94B3));
    background-image: -webkit-linear-gradient(top, #58A3C4, #5B94B3);
    background-image: -moz-linear-gradient(top, #58A3C4, #5B94B3);
    background-image: -o-linear-gradient(top, #58A3C4, #5B94B3);
    background-image: -ms-linear-gradient(top, #58A3C4, #5B94B3);
    background-image: linear-gradient(top, #58A3C4, #5B94B3);
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #5E8999;
}

/* clearfix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
