#selector {
    border: 1px solid #ccc;
    padding: 10px
}

#selector input.search {
    border: 1px solid #ccc;
    color: #444444;
    font: 14px Arial;
    padding: 8px;
    width: 400px;
}

#selector .autocomplete {
    background-color: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    list-style: none;
    font: 14px Arial;
    color: #444444;
    margin: 0;
    padding: 0;
    width: 400px;
    z-index: 100
}

#selector ul.autocomplete li {
    padding: 10px;
    line-height: 50px;
}

#selector ul.autocomplete li img.avatar {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#selector ul.autocomplete li img.type {
    /* ignoring this for now */
    display: none;
}

#selector li:focus {
    background-color: #eee;
    outline: none
}

#selector div.selected {
    font: 12px Arial;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px
}

#selector div.selected_user {
    position: relative;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 160px;
    padding: 10px;
    margin: 3px;
    float: left;
}

#selector div.selected_user button {
    position: absolute;
    top: 5px;
    right: 6px
}

#selector .highlight {
    text-decoration: underline
}

/* clearfix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}